/* html {
  height: 100vh;
} */

body {
  background-color: #fff;
  color: #fff;
  text-align: center;
  margin: auto;
  /* height: 100vh; */
}

section {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.banner {
  background: url(../img/banner-min.png) no-repeat center center;
}

.sec1 {
  background: url(../img/sec1-min.png) no-repeat center center;
}

.premios img {
  display: block;
  margin: 1rem auto 0 auto;
  width: 100%;
  max-width: 415px;
}

.cta {
  display: block;
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 700px;
}

.sec2 {
  background: url(../img/sec3-min.png) no-repeat center center;
}

.sec2 .title {
  font-family: "Diaconia Old Style W00 Black";
  font-size: 100px;
}

.sec2 .subtitle {
  font-family: "Fibra One Heavy";
  font-size: 24px;
  max-width: 550px;
  margin: auto;
}

.sec3 {
  background: url(../img/sec2-min.png) no-repeat center center;
}

.sec3 .title {
  font-family: "Fibra One Heavy";
  font-size: 90px;
  max-width: 1050px;
  -webkit-text-stroke: 3px #000;
}

@media screen and (max-width: 1399px) {
  .premios img {
    max-width: 356px;
  }

  .sec3 .title {
    font-size: 48px;
    max-width: 1050px;
  -webkit-text-stroke: 2px #000;
  }
}

@media screen and (max-width: 1199px) {
  .banner,
  .sec1,
  .sec2,
  .sec3 {
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }

  .premios img {
    max-width: 295px;
  }
}

@media screen and (max-width: 991px) {
  .banner,
  .sec1,
  .sec2,
  .sec3 {
    background-position: center;
    background-size: cover;
  }

  /* section {
    width: 100%;
    max-width: 991px;
    height: 557px;
    max-height: 557px;
  } */

  section {
    width: 960px;
    max-width: 100%;
    height: 100vh;
    max-height: 540px;
    margin: auto;
  }

  .premios img {
    max-width: 250px;
  }

  .cta {
    margin: 1rem auto 0 auto;
    max-width: 400px;
  }

  .sec2 .title {
    font-size: 64px;
  }

  .sec3 .title {
    /* font-size: 48px; */
    max-width: 600px;
  }
}

@media screen and (max-width: 560px) {
  section {
    width: 560px;
    max-width: 100%;
    height: 100vh;
    max-height: 315px;
    margin: auto;
  }

  .premios img {
    max-width: 150px;
  }

  .cta {
    margin: 1rem auto 0 auto;
    max-width: 250px;
  }

  .sec2 .title {
    font-size: 32px;
  }
  
  .sec2 .subtitle {
    font-size: 12px;
  }

  .sec3 .title {
    font-size: 28px;
  -webkit-text-stroke: 1px #000;
  }
}

@media screen and (max-width: 330px) {
  section {
    width: 330px;
    max-width: 100%;
    height: 100vh;
    max-height: 185px;
    margin: auto;
  }

  .premios img {
    max-width: 100px;
    margin: .1rem auto 0 auto;
  }

  .cta {
    margin: 1rem auto 0 auto;
    max-width: 150px;
  }

  .sec2 .title {
    font-size: 18px;
    margin: 0;
  }
  
  .sec2 .subtitle {
    font-size: 9px;
  }

  .sec3 {
    gap: 0;
  }

  .sec3 .title {
    font-size: 18px;
    /* max-width: 600px; */
    margin: 0 1rem;
  }
}

@font-face {
  font-family: "Diaconia Old Style W00 Black";
  src:
  url("https://db.onlinewebfonts.com/t/765385a700febbad3b320255f9fe7fee.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/765385a700febbad3b320255f9fe7fee.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/765385a700febbad3b320255f9fe7fee.ttf")format("truetype"),
}

@font-face {
  font-family: "Fibra One Heavy";
  src:
  url("https://db.onlinewebfonts.com/t/b394c5119acec5d13fceaaced78d4efe.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/b394c5119acec5d13fceaaced78d4efe.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/b394c5119acec5d13fceaaced78d4efe.ttf")format("truetype"),
}